<!--Author: Alfredo Rodriguez & Louie Lohebec-->
<!--File: profile.handlebars - HBS-->
<!--Date: 12/2/2017-->

<!-- Start Page Loading -->
<div id="loader-wrapper">
    <div id="loader"></div>
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
</div>
<!-- End Page Loading -->

<!-- START HEADER -->
<header id="header" class="page-topbar">
    <!-- start header nav-->
    <div class="navbar-fixed">

        <!--Color of Nav Bar-->
        <nav class="deep-purple darken-4">
            <div class="nav-wrapper">
                <ul class="left">
                    <li>
                        <h1 class="logo-wrapper">
                            <a href="/users-page" class="brand-logo darken-1">
                                <img src="http://res.cloudinary.com/alrod909/image/upload/v1511736767/divvy/divvyLogo_wlwbm3.png">
                                <span class="logo-text hide-on-med-and-down">DIVVY</span>
                            </a>
                        </h1>
                    </li>
                </ul>

                <!--Right Top Nav Bar-->
                <ul class="right hide-on-med-and-down">


                    <!--Fullscreen Button-->
                    <li>
                        <a href="javascript:void(0);" class="waves-effect waves-block waves-light toggle-fullscreen">
                            <i class="material-icons">settings_overscan</i>
                        </a>
                    </li>


                    <!--Profile Dropdown Button-->
                    <li>
                        <a href="javascript:void(0);" class="waves-effect waves-block waves-light profile-button"
                           data-activates="profile-dropdown">
                  <span class="avatar-status avatar-online">
                    <img src="http://res.cloudinary.com/alrod909/image/upload/v1511736761/divvy/avatar-7_txkm6i.png" alt="avatar">
                    <i></i>
                  </span>
                        </a>
                    </li>


                </ul>


                <!-- profile-dropdown -->
                <ul id="profile-dropdown" class="dropdown-content">

                    <li>
                        <a href="/users-profile" class="grey-text text-darken-1">
                            <i class="material-icons">face</i> Profile</a>
                    </li>


                    <li class="divider"></li>

                    <li>
                        <a href="/users-lock" class="grey-text text-darken-1">
                            <i class="material-icons">lock_outline</i> Lock</a>
                    </li>

                    <li>
                        <a href="/users/logout" class="grey-text text-darken-1">
                            <i class="material-icons">keyboard_tab</i> Logout</a>
                    </li>

                </ul>


            </div>
        </nav>
    </div>
    <!-- end header nav-->
</header>
<!-- END HEADER -->


<!-- START MAIN -->
<div id="main">
    <!-- START WRAPPER -->
    <div class="wrapper">
        <!-- START LEFT SIDEBAR NAV-->
        <aside id="left-sidebar-nav">

            <!--Left Side Nav-->
            <ul id="slide-out" class="side-nav fixed leftside-navigation">

                <!--User Icon and Info-->
                <li class="user-details">
                    <div class="row">

                        <!--Profile Image-->
                        <div class="col col s4 m4 l4">
                            <img src="http://res.cloudinary.com/alrod909/image/upload/v1511736761/divvy/avatar-7_txkm6i.png" alt=""
                                 class="circle responsive-img valign profile-image gradient-45deg-purple-pink">
                        </div>

                        <!--Profile Info-->
                        <div class="col col s8 m8 l8">
                            <a class="white-text profile-btn">{{user.fullname}}</a>
                            <p class="user-roal">Phone : {{user.phone}}</p>
                            <p class="user-roal">Car : {{user.vehicle}}</p>
                            <p class="user-roal"># of Seats : {{user.seats}}</p>
                        </div>

                    </div>
                </li>

                <!--Links and Items in left side nav-->
                <li class="no-padding">
                    <ul class="collapsible" data-collapsible="accordion">

                        <!--Users Item-->
                        <li class="bold">
                            <a class="collapsible-header  waves-effect waves-cyan active">
                                <i class="material-icons">account_circle</i>
                                <span class="nav-text">Users</span>
                            </a>

                            <!--Collapsible Body of users-->
                            <div class="collapsible-body">
                                <ul>

                                    <li class="user-details" id="user-1">
                                        <div class="row">

                                            <div class="col col s4 m4 l4">
                                                <img src="http://res.cloudinary.com/alrod909/image/upload/v1511736760/divvy/avatar-2_wk8hpd.png" alt=""
                                                     class="circle responsive-img valign profile-image gradient-45deg-cyan-light-green">
                                            </div>

                                            <div class="col col s8 m8 l8">
                                                <a class="white-text profile-btn">Lil Pump</a>
                                                <p class="user-roal">Phone : 801-554-8917</p>
                                                <p class="user-roal">Car : Honda Civic</p>
                                                <p class="user-roal"># of Seats : 4</p>
                                            </div>

                                        </div>

                                    </li>

                                    <li class="user-details" id="user-2">
                                        <div class="row">

                                            <div class="col col s4 m4 l4">
                                                <img src="http://res.cloudinary.com/alrod909/image/upload/v1511736760/divvy/avatar-3_djmsuu.png" alt=""
                                                     class="circle responsive-img valign profile-image gradient-45deg-deep-orange-orange">
                                            </div>

                                            <div class="col col s8 m8 l8">
                                                <a class="white-text profile-btn">Chester Trix</a>
                                                <p class="user-roal">Phone : 801-854-0200</p>
                                                <p class="user-roal">Car : Range Rover</p>
                                                <p class="user-roal"># of Seats : 4</p>
                                            </div>

                                        </div>
                                    </li>

                                </ul>
                            </div>
                        </li>
                    </ul>
                </li>

                <!--Documentation for Materialized Library-->
                <!--<li>-->
                    <!--<a href="../../../Documentation/materialize-admin-4.0/documentation" target="_blank">-->
                        <!--<i class="material-icons">import_contacts</i>-->
                        <!--<span class="nav-text">Documentation</span>-->
                    <!--</a>-->
                <!--</li>-->


            </ul>

            <a href="#" data-activates="slide-out"
               class="sidebar-collapse btn-floating btn-medium waves-effect waves-light hide-on-large-only">
                <i class="material-icons">menu</i>
            </a>

        </aside>
        <!-- END LEFT SIDEBAR NAV-->

        <!-- START CONTENT -->
        <section id="content">

            <!--start container-->
            <div class="container">
                <div id="profile-page" class="section">
                    <!-- profile-page-header -->
                    <div id="profile-page-header" class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="http://res.cloudinary.com/alrod909/image/upload/v1511736765/divvy/33_qvnvs9.png" alt="user background">
                        </div>
                        <figure class="card-profile-image">
                            <img src="http://res.cloudinary.com/alrod909/image/upload/v1511736761/divvy/avatar-7_txkm6i.png" alt="profile image"
                                 class="circle z-depth-2 responsive-img activator gradient-45deg-purple-pink gradient-shadow">
                        </figure>

                        {{#if user}}

                            <div class="card-content">
                                <div class="row pt-2">
                                    <div class="col s12 m3 offset-m2">
                                        <h4 class="card-title grey-text text-darken-4">{{user.fullname}}</h4>
                                        <p class="medium-small grey-text">Profile Name</p>
                                    </div>
                                    <div class="col s12 m2 center-align">
                                        <h4 class="card-title grey-text text-darken-4">{{user.vehicle}}</h4>
                                        <p class="medium-small grey-text">Car</p>
                                    </div>
                                    <div class="col s12 m2 center-align">
                                        <h4 class="card-title grey-text text-darken-4">{{user.seats}}</h4>
                                        <p class="medium-small grey-text"># of Seats</p>
                                    </div>
                                    <div class="col s12 m2 center-align">
                                        <h4 class="card-title grey-text text-darken-4">{{user.phone}}</h4>
                                        <p class="medium-small grey-text">Phone</p>
                                    </div>
                                    <div class="col s12 m1 right-align">
                                        <a class="btn-floating activator waves-effect waves-light rec accent-2 right">
                                            <i class="material-icons">perm_identity</i>
                                        </a>
                                    </div>
                                </div>
                            </div>

                        {{/if}}

                        <div class="card-reveal">

                             <span class="card-title grey-text text-darken-4">
                                 <i class="material-icons right">close</i>
                             </span>


                            <h4 class="header2">User Profile</h4>

                            <div class="row">

                                {{#if user}}

                                    <form class="col s12" method="post" action="/users/update">

                                        <div class="row">
                                            <div class="input-field col s12">
                                                <i class="material-icons prefix">account_circle</i>
                                                <input id="name" name="name" type="text" class="validate" value="{{user.fullname}}">
                                                <label for="name">Name</label>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="input-field col s12">
                                                <i class="material-icons prefix">settings_phone</i>
                                                <input id="phone" name="phone" type="text" class="validate" value="{{user.phone}}">
                                                <label for="phone">Phone</label>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="input-field col s12">
                                                <i class="material-icons prefix">email</i>
                                                <input id="email" name="email" type="email" class="validate" value="{{user.email}}">
                                                <label for="email">Email</label>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="input-field col s12">
                                                <i class="material-icons prefix">directions_car</i>
                                                <input id="vehicle" name="vehicle" type="text" class="validate" value="{{user.vehicle}}">
                                                <label for="vehicle">Car</label>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="input-field col s12">
                                                <i class="material-icons prefix">event_seat</i>
                                                <input id="seats" name="seats" type="number" class="validate" value="{{user.seats}}">
                                                <label for="seats"># of Seats</label>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="input-field col s12">
                                                <i class="material-icons prefix">location_on</i>
                                                <input id="address" name="address" type="text" class="validate" value="{{user.address}}">
                                                <label for="address">Address</label>
                                            </div>
                                        </div>

                                        <input id="_id" type="hidden" name="_id" value="{{user._id}}">

                                        <div class="row">
                                            <div class="input-field col s12">
                                                <button class="btn gradient-45deg-purple-deep-purple right waves-effect waves-light right" type="submit"
                                                        name="action">Save
                                                    <i class="material-icons right">send</i>
                                                </button>
                                            </div>
                                        </div>

                                    </form>

                                {{/if}}

                            </div>

                        </div>
                    </div>
                    <!--/ profile-page-header -->
                    <!-- profile-page-content -->
                </div>
            </div>


        </section>
        <!-- END CONTENT -->

    </div>
    <!-- END WRAPPER -->
</div>
<!-- END MAIN -->

<!-- START FOOTER -->
<footer class="page-footer deep-purple darken-4">
    <div class="footer-copyright">
        <div class="container">
          <span>Copyright ©
            <script type="text/javascript">

                //Grabs the current year and keeps the copyright updated
                document.write(new Date().getFullYear());
            </script> <a class="grey-text text-lighten-2"
                         href=""
                         target="_blank">Divvy</a> All rights reserved.</span>
            <span class="right hide-on-small-only"> Design and Developed by <a class="grey-text text-lighten-2"
                                                                               href="">Divvy</a></span>
        </div>
    </div>
</footer>
<!-- END FOOTER -->


<!-- ================================================
Scripts
================================================ -->

<!-- jQuery Library -->
<script type="text/javascript" src="/assets/vendors/jquery-3.2.1.min.js"></script>
<!--materialize js-->
<script type="text/javascript" src="/assets/js/materialize.min.js"></script>
<!--prism-->
<script type="text/javascript" src="/assets/vendors/prism/prism.js"></script>
<!--scrollbar-->
<script type="text/javascript" src="/assets/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
<!-- masonry -->
<script src="/assets/vendors/masonry.pkgd.min.js"></script>
<!-- imagesloaded -->
<script src="/assets/vendors/imagesloaded.pkgd.min.js"></script>
<!-- magnific-popup -->
<script type="text/javascript" src="/assets/vendors/magnific-popup/jquery.magnific-popup.min.js"></script>
<!--plugins.js - Some Specific JS codes for Plugin Settings-->
<script type="text/javascript" src="/assets/js/plugins.js"></script>
<!--media-hover-effects.js - Page Specific JS codes -->
<script type="text/javascript" src="/assets/js/scripts/media-hover-effects.js"></script>
<!--autocompleteAddress.js - Add your own theme custom JS-->
<script type="text/javascript" src="/assets/js/autocompleteAddress.js"></script>
<!--Google Maps API Key for Autocomplete-->
<script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyATGCU4dvDLSYXd6_GI9pixRJze4sdgCcs&libraries=places"></script>
