<!--Author: Alfredo Rodriguez & Louie Lohebec-->
<!--File: userPage.handlebars - HBS-->
<!--Date: 12/2/2017-->

<!-- Start Page Loading -->
<div id="loader-wrapper">
    <div id="loader"></div>
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
</div>
<!-- End Page Loading -->

<!-- START HEADER -->
<header id="header" class="page-topbar">
    <!-- start header nav-->
    <div class="navbar-fixed">

        <!--Color of Nav Bar-->
        <nav class="deep-purple darken-4">
            <div class="nav-wrapper">
                <ul class="left">
                    <li>
                        <h1 class="logo-wrapper">
                            <a href="/users-page" class="brand-logo darken-1">
                                <img src="http://res.cloudinary.com/alrod909/image/upload/v1511736767/divvy/divvyLogo_wlwbm3.png">
                                <span class="logo-text hide-on-med-and-down">DIVVY</span>
                            </a>
                        </h1>
                    </li>
                </ul>

                <!--Search Bar-->
                <div class="header-search-wrapper hide-on-med-and-down">
                <i class="material-icons">search</i>
                <input type="text" name="Search" id="searchBar" class="header-search-input z-depth-2"
                placeholder="Search Address"/>
                </div>



                <!--Right Top Nav Bar-->
                <ul class="right hide-on-med-and-down">

                    <!--Translation Dropdown Button-->
                    <!--<li>-->
                    <!--<a href="javascript:void(0);" class="waves-effect waves-block waves-light translation-button"-->
                    <!--data-activates="translation-dropdown">-->
                    <!--<span class="flag-icon flag-icon-gb"></span>-->
                    <!--</a>-->
                    <!--</li>-->


                    <!--Fullscreen Button-->
                    <li>
                        <a href="javascript:void(0);" class="waves-effect waves-block waves-light toggle-fullscreen">
                            <i class="material-icons">settings_overscan</i>
                        </a>
                    </li>

                    <!--Notifications Dropdown Button-->
                    <!--<li>-->
                    <!--<a href="javascript:void(0);" class="waves-effect waves-block waves-light notification-button"-->
                    <!--data-activates="notifications-dropdown">-->
                    <!--<i class="material-icons">notifications_none-->
                    <!--<small class="notification-badge pink accent-2">5</small>-->
                    <!--</i>-->
                    <!--</a>-->
                    <!--</li>-->

                    <!--Profile Dropdown Button-->
                    <li>
                        <a href="javascript:void(0);" class="waves-effect waves-block waves-light profile-button"
                           data-activates="profile-dropdown">
                  <span class="avatar-status avatar-online">
                    <img src="http://res.cloudinary.com/alrod909/image/upload/v1511736761/divvy/avatar-7_txkm6i.png" alt="avatar">
                    <i></i>
                  </span>
                        </a>
                    </li>

                    <!--Chat Box Dropdown Button-->
                    <!--<li>-->
                    <!--<a href="#" data-activates="chat-out"-->
                    <!--class="waves-effect waves-block waves-light chat-collapse">-->
                    <!--<i class="material-icons">format_indent_increase</i>-->
                    <!--</a>-->
                    <!--</li>-->

                </ul>


                <!-- translation-button -->
                <!--<ul id="translation-dropdown" class="dropdown-content">-->
                <!--<li>-->
                <!--<a href="#!" class="grey-text text-darken-1">-->
                <!--<i class="flag-icon flag-icon-gb"></i> English</a>-->
                <!--</li>-->
                <!--<li>-->
                <!--<a href="#!" class="grey-text text-darken-1">-->
                <!--<i class="flag-icon flag-icon-fr"></i> French</a>-->
                <!--</li>-->
                <!--<li>-->
                <!--<a href="#!" class="grey-text text-darken-1">-->
                <!--<i class="flag-icon flag-icon-cn"></i> Chinese</a>-->
                <!--</li>-->
                <!--<li>-->
                <!--<a href="#!" class="grey-text text-darken-1">-->
                <!--<i class="flag-icon flag-icon-de"></i> German</a>-->
                <!--</li>-->
                <!--</ul>-->


                <!-- notifications-dropdown -->
                <!--<ul id="notifications-dropdown" class="dropdown-content">-->
                <!--<li>-->
                <!--<h6>NOTIFICATIONS-->
                <!--<span class="new badge">5</span>-->
                <!--</h6>-->
                <!--</li>-->
                <!--<li class="divider"></li>-->
                <!--<li>-->
                <!--<a href="#!" class="grey-text text-darken-2">-->
                <!--<span class="material-icons icon-bg-circle cyan small">add_shopping_cart</span> A new order-->
                <!--has been placed!</a>-->
                <!--<time class="media-meta" datetime="2015-06-12T20:50:48+08:00">2 hours ago</time>-->
                <!--</li>-->
                <!--<li>-->
                <!--<a href="#!" class="grey-text text-darken-2">-->
                <!--<span class="material-icons icon-bg-circle red small">stars</span> Completed the task</a>-->
                <!--<time class="media-meta" datetime="2015-06-12T20:50:48+08:00">3 days ago</time>-->
                <!--</li>-->
                <!--<li>-->
                <!--<a href="#!" class="grey-text text-darken-2">-->
                <!--<span class="material-icons icon-bg-circle teal small">settings</span> Settings updated</a>-->
                <!--<time class="media-meta" datetime="2015-06-12T20:50:48+08:00">4 days ago</time>-->
                <!--</li>-->
                <!--<li>-->
                <!--<a href="#!" class="grey-text text-darken-2">-->
                <!--<span class="material-icons icon-bg-circle deep-orange small">today</span> Director meeting-->
                <!--started</a>-->
                <!--<time class="media-meta" datetime="2015-06-12T20:50:48+08:00">6 days ago</time>-->
                <!--</li>-->
                <!--<li>-->
                <!--<a href="#!" class="grey-text text-darken-2">-->
                <!--<span class="material-icons icon-bg-circle amber small">trending_up</span> Generate monthly-->
                <!--report</a>-->
                <!--<time class="media-meta" datetime="2015-06-12T20:50:48+08:00">1 week ago</time>-->
                <!--</li>-->
                <!--</ul>-->


                <!-- profile-dropdown -->
                <ul id="profile-dropdown" class="dropdown-content">

                    <li>
                        <a href="/users-profile" class="grey-text text-darken-1">
                            <i class="material-icons">face</i> Profile</a>
                    </li>


                    <li class="divider"></li>

                    <li>
                        <a href="/users-lock" class="grey-text text-darken-1">
                            <i class="material-icons">lock_outline</i> Lock</a>
                    </li>

                    <li>
                        <a href="/users/logout" class="grey-text text-darken-1">
                            <i class="material-icons">keyboard_tab</i> Logout</a>
                    </li>

                </ul>

                <!--Right Top Nav Bar-->
                <ul class="right hide-on-med-and-down" id="searchButtons">

                    <!--Search Button-->
                    <li>

                        <a class="btn-floating waves-effect waves-light purple lightrn-1" onclick="searchButton();">
                            <i class="material-icons">search</i>
                        </a>

                    </li>

                    <!--Navigate Button-->
                    <li>

                        <a class="btn-floating waves-effect waves-light purple lightrn-1" onclick="makeTrip();">
                            <i class="material-icons">gps_fixed</i>
                        </a>

                    </li>


                </ul>


            </div>
        </nav>
    </div>
    <!-- end header nav-->
</header>
<!-- END HEADER -->


<!-- START MAIN -->
<div id="main">
    <!-- START WRAPPER -->
    <div class="wrapper">
        <!-- START LEFT SIDEBAR NAV-->
        <aside id="left-sidebar-nav">

            <!--Left Side Nav-->
            <ul id="slide-out" class="side-nav fixed leftside-navigation">

                <!--User Icon and Info-->
                <li class="user-details">
                    <div class="row">

                        <!--Profile Image-->
                        <div class="col col s4 m4 l4">
                            <img src="http://res.cloudinary.com/alrod909/image/upload/v1511736761/divvy/avatar-7_txkm6i.png" alt=""
                                 class="circle responsive-img valign profile-image gradient-45deg-purple-pink">
                        </div>

                        {{#if user}}

                            <!--Profile Info-->
                            <div class="col col s8 m8 l8">
                                <a class="white-text profile-btn" id="userName">{{user.fullname}}</a>
                                <p class="user-roal" id="userPhone">Phone : {{user.phone}}</p>
                                <p class="user-roal" id="userVehicle">Car : {{user.vehicle}}</p>
                                <p class="user-roal" id="userSeats"># of Seats : {{user.seats}}</p>
                                <input type="hidden" id="userAddress" value="{{user.address}}">
                            </div>

                        {{/if}}

                    </div>
                </li>

                <!--Links and Items in left side nav-->
                <li class="no-padding">
                    <ul class="collapsible" data-collapsible="accordion">

                        <!--Users Item-->
                        <li class="bold">
                            <a class="collapsible-header  waves-effect waves-cyan active">
                                <i class="material-icons">account_circle</i>
                                <span class="nav-text">Users</span>
                            </a>

                            <!--Collapsible Body of users-->
                            <div class="collapsible-body">
                                <ul>

                                    <li class="user-details" id="user-1">
                                        <div class="row">

                                            <div class="col col s4 m4 l4">
                                                <img src="http://res.cloudinary.com/alrod909/image/upload/v1511736760/divvy/avatar-2_wk8hpd.png" alt=""
                                                     class="circle responsive-img valign profile-image gradient-45deg-cyan-light-green">
                                            </div>

                                            <div class="col col s8 m8 l8">
                                                <a class="white-text profile-btn">Lil Pump</a>
                                                <p class="user-roal">Phone : 801-554-8917</p>
                                                <p class="user-roal">Car : Honda Civic</p>
                                                <p class="user-roal"># of Seats : 4</p>
                                            </div>

                                        </div>

                                    </li>

                                    <li class="user-details" id="user-2">
                                        <div class="row">

                                            <div class="col col s4 m4 l4">
                                                <img src="http://res.cloudinary.com/alrod909/image/upload/v1511736760/divvy/avatar-3_djmsuu.png" alt=""
                                                     class="circle responsive-img valign profile-image gradient-45deg-deep-orange-orange">
                                            </div>

                                            <div class="col col s8 m8 l8">
                                                <a class="white-text profile-btn">Chester Trix</a>
                                                <p class="user-roal">Phone : 801-854-0200</p>
                                                <p class="user-roal">Car : Range Rover</p>
                                                <p class="user-roal"># of Seats : 4</p>
                                            </div>

                                        </div>
                                    </li>

                                </ul>
                            </div>
                        </li>
                    </ul>
                </li>

                <!--Documentation for Materialized Library-->
                <!--<li>-->
                    <!--<a href="../../../Documentation/materialize-admin-4.0/documentation" target="_blank">-->
                        <!--<i class="material-icons">import_contacts</i>-->
                        <!--<span class="nav-text">Documentation</span>-->
                    <!--</a>-->
                <!--</li>-->


            </ul>

            <a href="#" data-activates="slide-out"
               class="sidebar-collapse btn-floating btn-medium waves-effect waves-light hide-on-large-only">
                <i class="material-icons">menu</i>
            </a>

        </aside>
        <!-- END LEFT SIDEBAR NAV-->

        <!-- START CONTENT -->
        <section id="content">

            <!--Selection of map mode-->
            <div class="col s2 m2 l2 map-control" id="style-selector-control">
                <a class="btn dropdown-settings waves-effect waves-light breadcrumbs-btn gradient-45deg-purple-deep-purple right" id="colorChanger" href="#!"
                   data-activates="dropdown1">
                    <i class="material-icons hide-on-med-and-up">settings</i>
                    <span class="hide-on-small-onl">Map Colors</span>
                    <i class="material-icons right">arrow_drop_down</i>
                </a>
                <ul id="dropdown1" class="dropdown-content">
                    <li><a onclick="defaultColor()" class="grey-text text-darken-2">Default</a>
                    </li>
                    <li><a onclick="silver()" class="grey-text text-darken-2">Silver</a>
                    </li>
                    <li><a onclick="nightMode()" class="grey-text text-darken-2">Night Mode</a>
                    </li>
                    <li><a onclick="retro()" class="grey-text text-darken-2">Retro</a>
                    </li>
                    <li><a onclick="hideFeature()" class="grey-text text-darken-2">Hide Features</a>
                    </li>
                </ul>

            </div>


            <!--Renders in a Google Map-->
            <div id="map"></div>

        </section>
        <!-- END CONTENT -->

    </div>
    <!-- END WRAPPER -->
</div>
<!-- END MAIN -->

<!-- START FOOTER -->
<footer class="page-footer deep-purple darken-4">
    <div class="footer-copyright">
        <div class="container">
          <span>Copyright ©
            <script type="text/javascript">

                //Grabs the current year and keeps the copyright updated
                document.write(new Date().getFullYear());
            </script> <a class="grey-text text-lighten-2"
                         href=""
                         target="_blank">Divvy</a> All rights reserved.</span>
            <span class="right hide-on-small-only"> Design and Developed by <a class="grey-text text-lighten-2"
                                                                               href="">Divvy</a></span>
        </div>
    </div>
</footer>
<!-- END FOOTER -->


<!-- ================================================
Scripts
================================================ -->

<!-- jQuery Library -->
<script type="text/javascript" src="/assets/vendors/jquery-3.2.1.min.js"></script>
<!--materialize js-->
<script type="text/javascript" src="/assets/js/materialize.min.js"></script>
<!--prism-->
<script type="text/javascript" src="/assets/vendors/prism/prism.js"></script>
<!--scrollbar-->
<script type="text/javascript" src="/assets/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
<!-- masonry -->
<script src="/assets/vendors/masonry.pkgd.min.js"></script>
<!-- imagesloaded -->
<script src="/assets/vendors/imagesloaded.pkgd.min.js"></script>
<!-- magnific-popup -->
<script type="text/javascript" src="/assets/vendors/magnific-popup/jquery.magnific-popup.min.js"></script>
<!--plugins.js - Some Specific JS codes for Plugin Settings-->
<script type="text/javascript" src="/assets/js/plugins.js"></script>
<!--media-hover-effects.js - Page Specific JS codes -->
<script type="text/javascript" src="/assets/js/scripts/media-hover-effects.js"></script>


<!--Initializes the google map-->
<script type="text/javascript" src="/assets/js/googleMaps.js"></script>


<!--Google Maps API-->
<script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyATGCU4dvDLSYXd6_GI9pixRJze4sdgCcs&libraries=places&callback=initMap"></script>


